html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto","Arial",sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-layout {
    flex: 1;
    display: flex;
    overflow: hidden;
}
.nav{
    width: 240px;
    overflow-y: auto;
}
.setting-nav{}
.profile-nav{
    border-top: 1px solid #f0f0f0;
    margin-top: 12px;
    padding-top: 12px;
}
.nav > div{
    padding: 12px;
}
.nav-2{
    border-top: 1px solid #f0f0f0;
}
.nav-3{
    border-top: 1px solid #f0f0f0;
}
.nav-4{
    border-top: 1px solid #f0f0f0;
}
.nav-5{
    border-top: 1px solid #f0f0f0;
}
.video{
    flex: 1;
    overflow-y: auto;
}
.setting{
    flex: 1;
    overflow-y: auto;
}
.play-box{
    flex: 1;
    overflow-y: auto;
}
.search-video{
    flex: 1;
    overflow-y: auto;
    margin: 0px 151.5px;
}
.profile-main{
    flex: 1;
    overflow-y: auto;
}