.search-video-nav{
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    height: 56px;
    width: 1553px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.video-nav-item{
    width: auto;
    height: 32px;
    background-color: #eee;
    padding: 0px 12px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 10px;
}
.video-nav-item.active{
    background-color: black;
    color: white;
    font-weight: 500;
}
.search-filter{
    display: flex;
    margin-left: 370px;
    border-radius: 20px;
    padding: 8px 15px;
}
.search-filter:hover{
    background-color: #f0f0f0;
}
.search-filter:active{
    background-color: #e0e0e0;
}
.video-cards{
    margin-top: 60px;
}
.search-item{
    width: 1250px;
    height: 280.5px;
    display: flex;
}

.s-video-info > div:nth-child(1){
    display: flex; 
    justify-content:space-between; 
    width: 734px;
}
.s-video-info > div:nth-child(3){
    display: flex; 
    height: 26px;
    padding: 12px 0px;
}
.s-video-title{
    display: flex; 
    align-items: center; 
    font-size: 18px;
}
.s-video-dot{
    width: 24px; 
    height: 24px; 
    display: block; 
    fill: currentcolor;
    padding: 6px;
    border-radius: 40px;
}
.s-video-dot:hover{
    background-color: #f0f0f0;
}
.s-video-watch{
color: #606060; font-size: 12px;
}
.s-video-avater{
display: flex; align-items: center;
}
.s-video-author{
color: #606060; font-size: 12px; display: flex; align-items: center; margin-left: 10px;
}
.s-video-desc{
color: #606060; font-size: 12px;
}