.video-nav{
    height: 56px;
    width: 1553px;
    padding: 0px 24px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.video-nav-item{
    width: auto;
    height: 32px;
    background-color: #eee;
    padding: 0px 12px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 10px;
}
.video-nav-item.active{
    background-color: black;
    color: white;
    font-weight: 500;
}